iframe {
    height: 1rem;
    width: 1rem;
    resize: both;
    overflow: auto;
}

div#status {
    float: left;
}

div#auth {
    float: right;
}

div#frames {
    clear: both;
    float: none;
}

div.norm {
    width: 80em;
}
