iframe {
    height: 300px;
    width: 80em;
    resize: both;
    overflow: auto;
}

div#status {
	float: left;
}

div#auth {
	float: right;
}

div#frames {
	float: none;
}

div.norm {
	width: 80em;
}
